<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>400150137691-2ld0iemai7gulvpbpt049kv4jusos87a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.400150137691-2ld0iemai7gulvpbpt049kv4jusos87a</string>
	<key>API_KEY</key>
	<string>AIzaSyCAydzMmX7nCx6UMDj-6mfR-G5s_NtTLC4</string>
	<key>GCM_SENDER_ID</key>
	<string>400150137691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-d0a3e</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-d0a3e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400150137691:ios:14f127f3722dc5e688687e</string>
</dict>
</plist>